body {
    margin: 0;
    padding: 0;
}

#viewport {
    width: 40%;
    height: 600px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    position: relative;
    transition: 600ms;
    width: calc(100% * 6);
    height: 600px;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
}

.slide {
    display: block;
    margin: 5px;
}

.slide img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    vertical-align: middle;
}

#viewSlider {
    width: calc(30px * 6);
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.viewSlide {
    width: 5px;
    height: 5px;
    background-color: gray;
    border-radius: 50%;
    margin: 10px;
}

#btns {
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}