#round{
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin: 3px;
}
#btn{ /*стили для кнопки*/
   color:white;
   font-size: medium;
   background-color: rgb(141, 109, 160);
   width: 160px;
   height: 46px;
   border-radius: 4px;
}

#area{
    display: block;
    

}
div:nth-child(11){ /* каждый 11 круг начинаем с новой строки чтобы образовалось поле 10 на 10*/
    clear: both;
}
div:nth-child(21){
    clear: both;
}
div:nth-child(31){
    clear: both;
}
div:nth-child(41){
    clear: both;
}
div:nth-child(51){
    clear: both;
}
div:nth-child(61){
    clear: both;
}
div:nth-child(71){
    clear: both;
}
div:nth-child(81){
    clear: both;
}
div:nth-child(91){
    clear: both;
}